@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100svh;
  font-family: "Noto Sans", sans-serif;
  background: no-repeat
    linear-gradient(to right bottom, #cfc6a2, rgb(218, 206, 240));
  font-size: 1.6rem;
  color: #1a1a1a;
}

.header_h1 {
  font-family: "Ubuntu Mono", monospace;
  background-image: linear-gradient(
    to right,
    rgb(124, 72, 193),
    rgb(91 41 157)
  );
}

.input-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-bg {
  background-image: linear-gradient(
    to right top,
    rgba(80, 80, 80, 0.55),
    rgba(80, 80, 80, 0.25)
  );
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.active-cat {
  width: 6rem;
}

.backdropAppearance {
  animation: backdropappearance 0.3s ease forwards;
}
.backdropDisappearance {
  animation: backdropdisappearance 0.3s ease forwards;
}

.formAppearance {
  animation: formappearance 0.3s ease forwards;
}
.formDisappearance {
  animation: formdisappearance 0.3s ease forwards;
}

@keyframes formappearance {
  0% {
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%);
    visibility: visible;
  }
}

@keyframes formdisappearance {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
    visibility: hidden;
  }
}

@keyframes backdropappearance {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes backdropdisappearance {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
