@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100svh;
  font-family: sans-serif;
  background: no-repeat
    linear-gradient(to right bottom, #cfc6a2, rgb(218, 206, 240));
  font-size: 1.6rem;
  color: #1a1a1a;
}

.header_h1 {
  font-family: "Ubuntu Mono", monospace;
  background-image: linear-gradient(to right, rgb(124 72 193), rgb(91 41 157));
}

.input-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
